<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="/css/styles/style.css">
  <link rel="stylesheet" href="/css/styles/cadastro.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>Cine Code - Film Production</title>
</head>

<body>
  <header>
      {{!-- Navbar --}}
  <nav class="navbar py-2 bgc-orange" data-bs-theme="dark">
    <div class="container-fluid">
      <img src="images/brand/logo_menu.png" width="110" height="60" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" offcanvas offcanvas-end bgc-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header d-flex justify-content-between">
            <img src="images/brand/logo_menu.png" height="50" width="90" alt="Logo Sidebar">
            <h5 class="offcanvas-title mx-2" id="offcanvasNavbarLabel">Painel de navegação</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sessao">Sessão</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/filme">Filmes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  </header>
  {{!-- Fim da Navbar --}}

    {{{body}}}
  
  <footer class="container-fluid py-3 mt-5  footer fixed-bottom" data-bs-theme="dark">
    <section class="row">
      <div class="col-md-10 d-flex">
        <p class="text-white">
          &copy;2024 Cine Code - Film Production |
          <a href="#" class="privacy">Privacidade</a>  |
          <a href="#" class="privacy">Políticas</a> |
        </p>
      </div>
      
      <div class="col-md-2">
        <div class="fs-5 d-flex justify-content-evenly social">
        <a href="" target="_blank" class="text-white icon"><i class="fa-brands fa-instagram"></i></a>
        <a href="" target="_blank" class="text-white icon"><i class="fa-brands fa-youtube"></i></a>
        <a href="" target="_blank" class="text-white icon"><i class="fa-brands fa-linkedin"></i></a>
        <a href="" target="_blank" class="text-white icon"><i class="fa-brands fa-facebook"></i></a>
        <a href="" target="_blank" class="text-white icon"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="" target="_blank" class="text-white icon"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>
     </section>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
</body>
</html>