<header>
    <!-- CARROSEL DE IMAGENS -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-interval="10000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/carrosel/slide.png" class="d-block w-100" alt="...">
        </div>

    </div>
  </header>
  <main class="mb-5">
    <section class="container my-5">
      <h1 class="text-white fs-2 font-titulo my-5">Filmes em destaque</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="card bgc-dark mb-3" style="width: 18rem;">
            <img src="images/blocos/1.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bgc-dark mb-3" style="width: 18rem;">
            <img src="images/blocos/2.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bgc-dark mb-3" style="width: 18rem;">
            <img src="images/blocos/3.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bgc-dark mb-3" style="width: 18rem;">
            <img src="images/blocos/4.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bgc-dark mb-3" style="width: 18rem;">
            <img src="images/blocos/5.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bgc-dark mb-3" style="width: 18rem;">
            <img src="images/blocos/6.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bgc-dark mb-3" style="width: 18rem;">
            <img src="images/blocos/7.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bgc-dark mb-3" style="width: 18rem;">
            <img src="images/blocos/8.png" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
    </section>

    <section>
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/carrosel/slider1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/carrosel/slider2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/carrosel/slider3.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </section>

    <section class="container my-5">
      <h1 class="text-white fs-2   font-titulo my-5">Saga Harry Potter: Para os amantes de relíquias</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="card bgc-dark mb-3" style="width: 18rem;">
            <img src="images/blocos/harry1.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bgc-dark mb-3" style="width: 18rem;">
            <img src="images/blocos/harry2.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bgc-dark mb-3" style="width: 18rem;">
            <img src="images/blocos/harry3.png" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bgc-dark mb-3" style="width: 18rem;">
            <img src="images/blocos/harry4.png" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
    </section>

    <section>
      <img src="images/blocos/sobreNos.png" class="d-block w-100" alt="">
    </section>
  </main>