<header>
    <!-- CARROSEL DE IMAGENS -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-interval="10000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/carrosel/slide1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/carrosel/slide2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/carrosel/slide3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
  <main>
    <section class="container mt-3">
        <div class="row">
            <!-- PERFIL 1 -->
            <div class="text-center mb-2 col-lg-4 col-md-6">
                <img src="/images/perfis/perfil1.png" alt="Foto de Mauro Silva" class="rounded-circle img-thumbnail w-200">
                <h2> Mauro Silva </h2>
                <p> Desenvolvedor de Sistemas, responsável pela criação do módulo de cadastro de livros. Ele garantiu que o processo fosse intuitivo e rápido, facilitando o trabalho diário na biblioteca.</p>
                <a href="" class="btn btn-secondary">Mais Detalhes</a>
            </div>
            <!-- PERFIL 2 -->
            <div class="text-center mb-2 col-lg-4 col-md-6">
                <img src="/images/perfis/perfil2.jpg" alt="Foto de Samantha Torres" class="rounded-circle img-thumbnail w-200">
                <h2> Samantha Torres </h2>
                <p> Analista de Dados, focada no módulo de consulta e atualização. Ela projetou ferramentas de busca eficientes que permitem encontrar informações de forma prática.</p>
                <a href="" class="btn btn-secondary">Mais Detalhes</a>
            </div>
            <!-- PERFIL 3 -->                       
            <div class="text-center mb-2 col-lg-4 col-md-6">
                <img src="/images/perfis/perfil3.jpg" alt="Foto de Fernando Santos" class="rounded-circle img-thumbnail w-200">
                <h2> Fernando Santos </h2>
                <p> Coordenador de Treinamento, especializado em preparar bibliotecários para usar o sistema. Ele promove workshops que ajudam os usuários a aproveitarem todas as funcionalidades.</p>
                <a href="" class="btn btn-secondary">Mais Detalhes</a>
            </div>
        </div>
    </section>  
    <!-- BOLOCO DE INFORMAÇÕES -->
    <hr class="my-5"/>
    <section class="container">
      <!-- BLOCO 1 -->
      <section class="row align-items-center">
          <div class="col-md-7">
              <h1>Gerencie sua Biblioteca com Facilidade.</h1>
              <h3>Cadastre, consulte e organize seus livros e filme!</h3>
              <p class="lead">
                  Um sistema intuitivo que permite manter o controle de todo o acervo literário, facilitando a gestão.
              </p>
          </div>
          <figure class="col-md-5">
              <img src="/images/blocos/livros.avif" alt="Livros e organização" class="w-500 rounded shadow img-fluid">
          </figure>
      </section>
      <hr class="my-5"/>
      <!-- BLOCO 2 -->
      <section class="row align-items-center">
          <div class="col-md-7 order-md-2">
              <h1>Cadastro Simples e Eficiente.</h1>
              <h3>Adicione livros e filme de forma prática.</h3>
              <p class="lead">
                  O sistema permite cadastrar títulos, informações detalhadas dos livros e seus respectivos filme em poucos passos.
              </p>
          </div>
          <figure class="col-md-5 order-md-1">
              <img src="/images/blocos/cadastro.jpg" alt="Cadastro de livros" class="w-500 rounded shadow img-fluid">
          </figure>
      </section>
      <hr class="my-5"/>
      <!-- BLOCO 3 -->
      <section class="row align-items-center">
          <div class="col-md-7">
              <h1>Consulte e Atualize com Agilidade.</h1>
              <h3>Encontre informações com poucos cliques.</h3>
              <p class="lead">
                  Utilize as ferramentas de busca para acessar dados sobre livros e filme, atualizando-os sempre que necessário.
              </p>
          </div>
          <figure class="col-md-5">
              <img src="/images/blocos/consulta.png" alt="Consulta de acervo" class="w-500 rounded shadow img-fluid">
          </figure>
      </section>
    </section>

    <hr class="my-5 container"/>
    
    <section class="container text-center" style="width: 40%;">
      <div class="card">
      <h5 class="card-header">Faça um teste gratuito</h5>
        <div class="card-body">
          <h5 class="card-title">Cadastre agora um autor ou um livro!</h5>
          <p class="card-text">Escolha uma das opções abaixo:</p>
          <div class="d-flex justify-content-center">
            <a href="/livros/create" class="btn btn-primary" style="width: 100%;">Cadastrar Livro</a>
            <h3 class="mx-3" style="width: 100%;">|</h3>
            <a href="/filme/create" class="btn btn-primary" style="width: 100%;">Cadastrar Autor</a>
          </div>
        </div>
      </div>
    </section>
  </main>